<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
</head>
<body align="center">
	<h3>Add post to blog </h3>
	<form action="" method="POST">
		<input type="text"  name="username" placeholder="Enter Username" /> <br/>
		<input type= "password"	name="password"	placeholder="enter password"/> <br/>
		<input type = "text" name = "name" placeholder="enter name" /> <br/>
		<input type = "email" name = "email" placeholder="enter Email" /> <br/>
		<input type="tel" name='phone' placeholder="enter phone"/> <br/> 
		<br/>
		<button type="submit"   align="center"/>
		Login
		</button>
	</form>
</body>
</html>